/* colors */
:root {
    --background-color: #141414;
    --header-color: #000000;
    --text-color: #FFFFFF;
    --accent-color: #FF8263;
    --secondary-accent-color: #97BBFF;
    --bg-gradient-start: #0C1127;
    --bg-gradient-end: #673F3B;
}

body {
    margin: 0;
    padding: 0 10%;
    background: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
    /* background: black; */
    color: white;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
***********************************
Media query for small screen sizes - All Styles
***********************************
*/
@media screen and (max-width: 1000px) {

    /* Remove body margin at small screen sizes */
    body {
        padding: 0;
    }

    /* Only display download and icon in menu */
    .topnav a:not(#download-btn) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    /* add the responsive class to menu */
    .topnav.responsive {
        position: absolute;
        top: 0px;
        right: 10%;
        margin: 30px;
        padding: 9px 33px 20px 0;
        display: flex;
        flex-direction: column;

        z-index: 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
 
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0px;
        top: 1px;
    }

    .topnav.responsive a {
        display: flex;
        justify-content: left;

        text-align: left;
    }

    /* Image gallery */
    #image-gallery {
        gap: 20px;
        width: 100%;
        border: 1px solid hotpink;
    }

    #image-gallery div {
        /* stretch to fit container width */
        width: 100%;
        height: 200px;
        border: 1px solid cyan;

    }
}

/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--header-color);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    padding: 8px 0 8px 28px;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: var(--accent-color);
    text-decoration: underline;
    font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;

    img {
        height: 30px;
        width: 30px;
        margin: 8px 15px 0 0;
    }
}

#download-btn {
    border: 2px solid var(--accent-color);
    border-radius: 40px;
    color: var(--accent-color);
    font-weight: 500;
    padding: 8px 20px;
    margin: 0 0 0 28px;
    width: fit-content;
}

header {
    background-color: var(--header-color);
    padding: 0px 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;

    #logo-img {
        height: 120px;
        width: auto;
    }

    #header-links {
        margin-left: auto;
    }
}

main {
    /* padding: 20px 30px; */
    background-color: var(--background-color);
    height: calc(100vh - 120px);
    overflow-y: auto;
    /* width: 100%; */

    #highlight {
        color: var(--secondary-accent-color);
    }

    /* hide scrollbars */
    &::-webkit-scrollbar {
        display: none;
    }

    section {
        margin: 20px 30px;
    }

    p {
        font-size: 20px;
    }

}

#image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
    position: relative;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        /* max-width: 550px; */
        height: 300px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
        background-color: var(--secondary-accent-color);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        .img-gallery-text {
            /* center text over image */
            position: absolute;
            font-size: 24px;

            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            height: 325px;
            width: 265px;
            border-radius: 8px;
        }

        &:hover {
            transform: scale(1.05);

        }
    }
}

#home-about-section {
    margin: 40px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--accent-color);
    height: auto;
    /* width: 100%; */

    #about-blurb {
        max-width: 50%;
        border: 2px solid var(--accent-color);
        padding: 0 20px;
        /* border-radius: 8px; */
    }

    #features-list {
        max-width: 50%;
        border: 2px solid var(--secondary-accent-color);
        padding: 0 20px;
        border-radius: 8px;

        h2 {
            color: var(--secondary-accent-color);
        }

        ;

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        li {
            margin-bottom: 15px;
        }

    }

    h2 {
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
    }
}

#contact-section {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* border: 1px solid purple; */

    .contact-title {
        display: flex;
        /* gap: 10px; */
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid blue; */

        .contact-name {
            color: var(--secondary-accent-color);
            width: fit-content;
            padding: 10px;
            margin: 0;
            /* border: 1px solid pink; */
        }

        .contact-role {
            font-size: 18px;
            /* color: var(--accent-color); */
            width: fit-content;
            /* padding: 0 10px; */
            /* border: 1px solid magenta; */
            margin: 0;
        }
    }

    #contact-container {
        margin: 20px 0;
        /* max-width: 70%; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 20px;
        /* border: 1px solid orange; */
    }

    .contact-profile {
        /* border: 1px solid cyan; */
        width: 360px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .contact-img {
        height: 40px;
        width: 40px;
        /* border: 1px solid yellow; */
    }

    .contact-email,
    .contact-phone {
        font-size: 18px;
        padding: 0px 50px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        width: fit-content;
        /* border: 1px solid green; */
    }

    .contact-icon {
        height: 25px;
        width: 25px;
        margin-right: 10px;
        /* border: 1px solid red; */
    }
}

footer {
    margin-top: 60px;
    background-color: var(--header-color);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25px;

    p {
        margin: 0;
    }
}